body { margin-bottom: 10px; }
input { margin-top: 1px; margin-bottom: 1px; }
select { margin-top: 1px; margin-bottom: 1px; }
pre { overflow-x: auto; }
pre { white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word; }
